act_scale.txt
description.txt
img17_horse.bin
modellayout.txt
results-old.txt
results.txt
test_img_17_horse.png
test_img_5_frog.png
useful-cmds.txt
weightsAddress.txt
maps/conv1.bin
maps/layer1_block0_relu1.bin
maps/layer1_block0_relu2_c2.bin
maps/layer1_block0_relu2_sh.bin
maps/layer1_block1_relu1.bin
maps/layer1_block1_relu2_c2.bin
maps/layer1_block1_relu2_sh.bin
maps/layer2_block0_relu1.bin
maps/layer2_block0_relu2_c2.bin
maps/layer2_block0_relu2_sh.bin
maps/layer2_block1_relu1.bin
maps/layer2_block1_relu2_c2.bin
maps/layer2_block1_relu2_sh.bin
maps/layer3_block0_relu1.bin
maps/layer3_block0_relu2_c2.bin
maps/layer3_block0_relu2_sh.bin
maps/layer3_block1_relu1.bin
maps/layer3_block1_relu2_c2.bin
maps/layer3_block1_relu2_sh.bin
maps/layer4_block0_relu1.bin
maps/layer4_block0_relu2_c2.bin
maps/layer4_block0_relu2_sh.bin
maps/layer4_block1_relu1.bin
maps/layer4_block1_relu2_c2.bin
maps/layer4_block1_relu2_sh.bin
checkpoint/ckpt_ResNet18_91.07_to_w4_2.pth
checkpoint/ckpt_ResNet18_92.15_to_w4_2.pth
checkpoint/ckpt_ResNet18_92.88_to_w4_2.pth
checkpoint/ResNet18/ckpt_ResNet18_46.93.pth
checkpoint/ResNet18/ckpt_ResNet18_59.97.pth
checkpoint/ResNet18/ckpt_ResNet18_68.85.pth
checkpoint/ResNet18/ckpt_ResNet18_70.51.pth
checkpoint/ResNet18/ckpt_ResNet18_77.41.pth
checkpoint/ResNet18/ckpt_ResNet18_80.27.pth
checkpoint/ResNet18/ckpt_ResNet18_81.36.pth
checkpoint/ResNet18/ckpt_ResNet18_82.14.pth
checkpoint/ResNet18/ckpt_ResNet18_84.61.pth
checkpoint/ResNet18/ckpt_ResNet18_85.6.pth
checkpoint/ResNet18/ckpt_ResNet18_85.18.pth
checkpoint/ResNet18/ckpt_ResNet18_87.05.pth
checkpoint/ResNet18/ckpt_ResNet18_87.12.pth
checkpoint/ResNet18/ckpt_ResNet18_88.29.pth
checkpoint/ResNet18/ckpt_ResNet18_88.53.pth
checkpoint/ResNet18/ckpt_ResNet18_89.8.pth
checkpoint/ResNet18/ckpt_ResNet18_89.84.pth
checkpoint/ResNet18/ckpt_ResNet18_90.29.pth
checkpoint/ResNet18/ckpt_ResNet18_90.41.pth
checkpoint/ResNet18/ckpt_ResNet18_90.59.pth
checkpoint/ResNet18/ckpt_ResNet18_91.6.pth
checkpoint/ResNet18/ckpt_ResNet18_91.27.pth
checkpoint/ResNet18/ckpt_ResNet18_91.96.pth
checkpoint/ResNet18/ckpt_ResNet18_92.25.pth
checkpoint/ResNet18/ckpt_ResNet18_92.26.pth
checkpoint/ResNet18/ckpt_ResNet18_92.35.pth
checkpoint/ResNet18/ckpt_ResNet18_92.78.pth
checkpoint/ResNet18/ckpt_ResNet18_92.88.pth
checkpoint/ResNet50/ckpt_ResNet50_90.61.pth
checkpoint/ResNetQuant18/ckpt_ResNetQuant18_w4_2_90.24.pth
checkpoint/ResNetQuant18/ckpt_ResNetQuant18_w4_2_90.84.pth
checkpoint/ResNetQuant18/ckpt_ResNetQuant18_w4_2_91.3.pth
checkpoint/ResNetQuant18/ckpt_ResNetQuant18_w4_2_91.6.pth
checkpoint/ResNetQuant18/ckpt_ResNetQuant18_w4_2_91.13.pth
checkpoint/ResNetQuant18/ckpt_ResNetQuant18_w4_2_91.82.pth
checkpoint/ResNetQuant18/ckpt_ResNetQuant18_w4_2_91.86.pth
checkpoint/ResNetQuant18/ckpt_ResNetQuant18_w4_2_91.99.pth
checkpoint/ResNetQuant18/ckpt_ResNetQuant18_w4_2_92.0.pth
checkpoint/ResNetQuant18/ckpt_ResNetQuant18_w4_2_92.8.pth
checkpoint/ResNetQuant18/ckpt_ResNetQuant18_w4_2_92.9.pth
checkpoint/ResNetQuant18/ckpt_ResNetQuant18_w4_2_92.14.pth
checkpoint/ResNetQuant18/ckpt_ResNetQuant18_w4_2_92.16.pth
checkpoint/ResNetQuant18/ckpt_ResNetQuant18_w4_2_92.19.pth
checkpoint/ResNetQuant18/ckpt_ResNetQuant18_w4_2_92.36.pth
checkpoint/ResNetQuant18/ckpt_ResNetQuant18_w4_2_92.49.pth
checkpoint/ResNetQuant18/ckpt_ResNetQuant18_w4_2_92.57.pth
checkpoint/ResNetQuant18/ckpt_ResNetQuant18_w4_2_92.59.pth
checkpoint/ResNetQuant18/ckpt_ResNetQuant18_w4_2_92.62.pth
checkpoint/ResNetQuant18/ckpt_ResNetQuant18_w4_2_92.66.pth
checkpoint/ResNetQuant18/ckpt_ResNetQuant18_w4_2_92.74.pth
checkpoint/ResNetQuant18/ckpt_ResNetQuant18_w4_2_92.77.pth
checkpoint/ResNetQuant18/ckpt_ResNetQuant18_w4_2_92.83.pth
checkpoint/ResNetQuant18/ckpt_ResNetQuant18_w4_2_92.85.pth
checkpoint/ResNetQuant18/ckpt_ResNetQuant18_w4_2_92.95.pth
checkpoint/ResNetQuant18/ckpt_ResNetQuant18_w4_2_92.96.pth
checkpoint/ResNetQuant18/ckpt_ResNetQuant18_w4_2_93.0.pth
checkpoint/ResNetQuant18/ckpt_ResNetQuant18_w4_2_93.1.pth
checkpoint/ResNetQuant18/ckpt_ResNetQuant18_w4_2_93.2.pth
checkpoint/ResNetQuant18/ckpt_ResNetQuant18_w4_2_93.03.pth
checkpoint/ResNetQuant18/ckpt_ResNetQuant18_w4_2_93.05.pth
checkpoint/ResNetQuant18/ckpt_ResNetQuant18_w4_2_93.07.pth
checkpoint/ResNetQuant18/ckpt_ResNetQuant18_w4_2_93.08.pth
checkpoint/ResNetQuant18/ckpt_ResNetQuant18_w4_2_93.12.pth
checkpoint/ResNetQuant18/ckpt_ResNetQuant18_w4_2_93.13.pth
checkpoint/ResNetQuant50/ckpt_ResNetQuant50_w4_2_86.17.pth
checkpoint/ResNetQuant50/ckpt_ResNetQuant50_w8_4_89.18.pth
checkpoint/ResNetQuantMerged18/ckpt_ResNetQuantMerged18_w4_2_91.3.pth
