
.profile
.gitattributes
.bashrc
.bash_logout
hls/conv_miguel/conv_miguel/.apc/autopilot.apfmapping
hls/conv_miguel/conv_miguel/.cproject
hls/conv_miguel/conv_miguel/.project
hls/conv_miguel/conv_miguel/.settings/conv_miguel.Debug.launch
hls/conv_miguel/conv_miguel/.settings/conv_miguel.Release.launch
hls/conv_miguel/conv_miguel/.settings/language.settings.xml
hls/conv_miguel/conv_miguel/.vitis_hls_log_all.xml
hls/conv_miguel/conv_miguel/hls.app
hls/conv_miguel/conv_miguel/solution1/.autopilot/.autopilot_exit
hls/conv_miguel/conv_miguel/solution1/.autopilot/db/.message_csim.xml
hls/conv_miguel/conv_miguel/solution1/.autopilot/db/autopilot.flow.log
hls/conv_miguel/conv_miguel/solution1/.autopilot/db/dsp_style
hls/conv_miguel/conv_miguel/solution1/.autopilot/xcd.log
hls/conv_miguel/conv_miguel/solution1/csim/.lst_opt.tcl
hls/conv_miguel/conv_miguel/solution1/csim/build/csim.exe
hls/conv_miguel/conv_miguel/solution1/csim/build/csim.mk
hls/conv_miguel/conv_miguel/solution1/csim/build/Makefile.rules
hls/conv_miguel/conv_miguel/solution1/csim/build/obj/.dir
hls/conv_miguel/conv_miguel/solution1/csim/build/obj/conv.d
hls/conv_miguel/conv_miguel/solution1/csim/build/obj/conv.o
hls/conv_miguel/conv_miguel/solution1/csim/build/obj/tb_conv.d
hls/conv_miguel/conv_miguel/solution1/csim/build/obj/tb_conv.o
hls/conv_miguel/conv_miguel/solution1/csim/build/run_sim.tcl
hls/conv_miguel/conv_miguel/solution1/csim/build/sim.sh
hls/conv_miguel/conv_miguel/solution1/csim/report/conv_csim.log
hls/conv_miguel/conv_miguel/solution1/directives.tcl
hls/conv_miguel/conv_miguel/solution1/script.tcl
hls/conv_miguel/conv_miguel/solution1/solution1.aps
hls/conv_miguel/conv_miguel/solution1/solution1.directive
hls/conv_miguel/conv_miguel/solution1/solution1.log
hls/conv_miguel/vitis_hls.log
Sources/MiguelAReis/conv/conv.cpp
Sources/MiguelAReis/conv/convParameters.h
Sources/MiguelAReis/conv/tb_conv.cpp
Sources/MiguelAReis/depthwise/depthwise.cpp
Sources/MiguelAReis/depthwise/depthwiseParameters.h
Sources/MiguelAReis/depthwise/tb_depthwise.cpp
Sources/MiguelAReis/postProcessing/postProcessing.cpp
Sources/MiguelAReis/postProcessing/postProcessingParameters.h
Sources/MiguelAReis/postProcessing/tb_postProcessing.cpp
Sources/MiguelAReis/preProcessing/preProcessing.cpp
Sources/MiguelAReis/preProcessing/preProcessingParameters.h
Sources/MiguelAReis/preProcessing/tb_preProcessing.cpp
Sources/MiguelAReis/readme.md
Sources/.vscode/settings.json
Sources/.vscode/c_cpp_properties.json
